<configuration>
    <appSettings>
        <add key="SmallRectWidth" value="320"/>
        <add key="TargetClassName" value="UnityWndClass"/>
        <add key="TargetFormTitle" value="崩坏：星穹铁道"/>
        <add key="SmallLeft" value="0"/>
        <add key="SmallRight" value="0"/>
        <add key="SmallTop" value="0"/>
        <add key="SmallBottom" value="0"/>
    </appSettings>
</configuration>
